<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birdclopedia - Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="navbar">
    <div class="navbar-brand">
        <img src="/static/images/bird-icon.png" alt="Bird Icon" class="navbar-icon">
        <h1 class="text-2xl font-bold">Birdclopedia</h1>
    </div>

        <div>
            <a href="/tree">Tree</a>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </div>
    </nav>
    <section class="hero">
        <div class="text-center">
            <div class="hero-text">
                <h1>Welcome to Birdclopedia!</h1>
                <p class="text-white mt-2"><em>An entry gate to the amazing world of the avian family</em></p>
            </div>
            <img src="/static/images/tree-logo.png" alt="Tree Logo" class="tree-logo">
            <div class="mt-6">
                <a href="/tree" class="btn-primary">Explore the Tree</a>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Birdclopedia. All rights reserved.</p>
    </footer>

</body>
</html>